<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Template</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Tinos:700" rel="stylesheet">
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="icon" type="image/png" href="img/logo_dark.png"/>
</head>
<body>


<header id="header" class="sticky stopscrolling">
    <div id="logo">
        <a href="index.html" class="darklogo visible"><img src="img/logo_dark.png" alt="Dark Logo"/></a>
    </div>

    <a class="mobile" href="#">&#9776;</a>
    <nav>
        <ul>
            <li><a href="index.html">Home</a>
            <li><a href="team.html">Meet the team</a>
            <li><a href="#">Services</a>
                <ul>
                    <li><a href="branding.html">Branding</a></li>
                    <li><a href="illustration.html">Illustration</a></li>
                    <li><a href="webdev.html">Web Development</a></li>
                </ul></li>
            <li><a href="gallery.html">Portfolio</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
        <div style="clear:both;"></div>
    </nav>
</header>


<div id="backgrd">
    <img src="img/background.jpg" />
</div>

    <div class="bottom-bar">
        <div class="wrap">
            <div class="footer-left">
                <a href="#" target="_blank">© Agency XYZ</a> </div>
            <div style="clear:both;"></div>
            <div class="footer-right">
                <a href="#" target="_blank"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="#" target="_blank"> <i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#" target="_blank"><i class="fa fa-pinterest-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</footer>


<!-- JS IMPORT -->
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>