<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Template</title>
    <meta name="viewport" content="width=device-width">
    <link href="https://fonts.googleapis.com/css?family=Tinos:700" rel="stylesheet">
    <link href='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css"/>
    <link rel="icon" type="image/png" href="img/logo_dark.png"/>
</head>
<body>
    <header id="header" class="sticky stopscrolling">
        <div id="logo">
        <a href="index.html" class="darklogo visible"><img src="img/andela-logo.png" alt="Andela Logo"/></a>
         </div>
         <div class="clearfix"> </div>
        <div class="container">
            <div id="fontPageSignIn">             
                 <h1>PostIT WEB APPLICATION </h1>
                 <h3> Community of Software and Web developer </h3>
              <form>
                <fieldset>
                    <legend>Sign In</legend>
                    <label>EMAIL
                    <input type="text" placeholder="Enter Your Email">
                    </label>
                    <label>PASSWORD
                    <input type="text" placeholder="Enter Your Password">
                    </label>
                    <a href="#" class="button">SignIn </a> <a href="#" class="button">SignUp </a> 
                </fieldset>
              </form>
            </div>
        </div>
   
    </header>
     <img src="img/background.jpg" />
 
<div class="container"> 
        <div class="one-third column"> 
           hdfhdfdhfdghgdhfhhgfhdgfhdgfhdgfd
        </div>
        <div class="one-third column"> 
           dgwdfgfgwgdhwghdgwhgdhwdgwhdgwhgdwhg||||| 
        </div>
        <div class="one-third column"> 
           dgwdfgfgwgdhwghdgwhgdhwdgwhdgwhgdwhg 
        </div>
    
</div>



</body>
</html>