/* for login and Registration page */

.logo {
  width: 250px;
  height: 75px;
  margin-top: 6px; }

.login {
  border: #000 solid 1px;
  border-radius: 1px;
  padding: 20px; }

.frontText {
  font-family: "Monotype Corsiva";
  font-size: 30px; }
.bkgrd {
	background-image: url("../img/background.jpg");
}
