//----- Navigation ------//

nav {
  margin:$header-height 0 0 0;
  max-height:0;
  transition: all 0.5s ease;
  visibility: hidden;
  @include breakpoint($large) {
    visibility: visible;
  }

  &:active{
    visibility: visible;
  }
}


nav ul {
  margin:0;
  padding:0;
  z-index:15;

  @include breakpoint($large) {
    margin:0;
    list-style:none;
    top: 0;
    right: 0;
    position: absolute;
  }

  li {
    float:none;
    position:relative;
    margin:0 $gap-small;
    border-top: 1px dotted $main-color;

    @include breakpoint($large) {
      float:left;
      position:relative;
      z-index:1;
      border: none;
    }

    a {
      display:table;
      margin:0 0 0 5px;
      padding:15px 2px;
      color: $link-color;
      text-shadow:none;
      width:100%;
      text-decoration: none;

      @include breakpoint($large) {
        border: none;
        margin: 0;
        display: block;
        line-height: 22px;
        font:{
          family: $heading-font;
          weight: $primary-menu-font-weight;
        }
        text-transform: $primary-menu-text-transform;
        letter-spacing: $primary-menu-font-spacing;
        padding: $link-vertical-padding $link-horizontal-padding;
        text-align:center;
        color:$link-color;
        text-decoration:none;

        @include transition-duration(0.1s);

        &:hover {
          color:$link-hover;
          @include transition-duration(0.2s);
        }
      }
    }

    &:hover ul {
      opacity:1;
      max-height:0;
      @include transition-duration(0.3s);

      @include breakpoint($large) {
        max-height:1000px;
      }
    }

    /******************
    SUBNAV
    ******************/

    ul {
      max-height:0;
      opacity:1;
      width:100%;
      position:relative;
      overflow:hidden;
      @include transition-duration(2s);

      @include breakpoint($large) {
        background: rgba(255, 255, 255, 0.93);
        list-style:none;
        padding:0;
        position:absolute;
        width: 150px;
        left: 5px;
        max-height: 0;
        z-index: 0;
        overflow: hidden;
        font-size: .9em;
        opacity: 0;
        top: $header-height;
        @include transition-duration(0.3s);
      }

      li {
        margin:0;
        @include breakpoint($large) {
          margin:0;
          //float: none;
        }

        a {
          color:$link-color;
          padding-left:20px;
          background:none;

          @include breakpoint($large) {
            font: {
              size: $primary-menu-sub-font-size;
              weight: $primary-menu-submenu-font-weight;
              family: $primary-menu-sub-font;
            }
            color: $highlight-color4;
            letter-spacing: 0;
            display:block;
            text-align:left;
            padding:$link-vertical-padding/1.5 $link-horizontal-padding/1.5;
            margin:0;
            border-right:none;
            text-transform:none;
            text-shadow:none;
            @include transition(all .2s ease-in-out);

            &:hover {
              color:$link-hover;
              @include transition-duration(0.5s);
            }
          }
        }
      }
    }
  }
}

.scroll-subnav{
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  border-left: 1px solid lighten($highlight-color1, 10%);
}

/***************************
MOBILE NAV STYLES
***************************/
.mobile {
  display:table;
  margin:0;
  padding:20px 15px;
  position:absolute;
  color:white;
  text-decoration:none;
  top:5px;
  right:10px;
  line-height:0;
  z-index: 998;
  font-size: $font-size-h2;
  float: right;

  @include breakpoint($large) {
    display:none;
  }
}

.active {
  max-height:9000px !important;
  visibility: visible;
  @include transition-duration(1s);
}

.arrow {
  display:block;
  background: url(../img/arrow.png) no-repeat;
  float:right;
  height:25px;
  width:25px;
  position:absolute;
  right: 10px;
  top:10px;
  @include transition-duration(0.3s);

  &:hover {
    cursor:pointer;
  }

  @include breakpoint($large) {
    display: none;
  }
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid lighten($highlight-color1, 10%);

  a{
    color: $main-color;

    @include breakpoint($large){
    //  text-align: right;
    }
  }
}
