body {
  line-height: $line-height-base;
  font: {
    family: $body-font;
    size: $font-size-base;
  }
  color: $main-color;
  text-align: justify;
  padding-top: 75px;
  overflow-x: hidden;
  width: 101%;
}

p{
  margin-left: 10px;
  margin-right: 10px;

  p + p{
    margin-top:10px;
    margin-bottom: 10px;
  }

}

a{
  text-decoration: none;
}
